<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>X TPU - SMK NEGERI 1 KERTAJATI - @airframe12__</title>
<meta name="title" content="X TPU - SMK NEGERI 1 KERTAJATI - @airframe12__" />
<meta
  name="description"
  content="Website kelas X TPU TP 2023/2024 SMK NEGERI 1 KERTAJATI. "
/>

<meta property="og:type" content="website" />
<meta property="og:url" content="https://x.tpusmkn1kertajati.link/" />
<meta
  property="og:title"
  content="X TPU - SMK NEGERI 1 KERTAJATI - @airframe12__"
/>
<meta
  property="og:description"
  content="Website kelas X TPU TP 2023/2024 SMK NEGERI 1 KERTAJATI. "
/>
<meta
  property="og:image"
  content="https://x.tpusmkn1kertajati.link/src/assets/logo.png"
/>

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://x.tpusmkn1kertajati.link/" />
<meta
  property="twitter:title"
  content="X TPU - SMK NEGERI 1 KERTAJATI - @airframe12__"
/>
<meta
  property="twitter:description"
  content="Website kelas X TPU TP 2023/2024 SMK NEGERI 1 KERTAJATI. "
/>
<meta
  property="twitter:image"
  content="https://x.tpusmkn1kertajati.link/src/assets/logo.png"
/>

<meta
  name="google-site-verification"
  content="49xtGicUNbdBMwUVwgtyscHjVKMXj04dw8H3x2gqNEs"
/>
<meta name="author" content="@Haisyam" />
<meta
  name="keywords"
  content="sma, education, smanega, kelas, siswa, pelajaran, mipansmanega, ambarawa, sekolah, mipan, study, learn, together, 2022"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
  rel="stylesheet"
/>
<link rel="shortcut icon" href="./src/assets/logo.png" type="image/x-icon" />
<link rel="stylesheet" href="./src/style/output.css" />
<link
  href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
  rel="stylesheet"
  type="text/css"
/>
<script src="https://cdn.tailwindcss.com"></script>
